
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* Style the header */
.header {
  background-color:none;
  text-align: center;
  font-size: 25px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 900px; /* Should be removed. Only for demonstration */
  text-align: justify;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: none;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    top : 100;
    list-style: none;
    margin: 0; 
    background: rgb(29, 75, 88);
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }

    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
  
.flex-container {
  /* We first create a flex layout context */
  display :inline-flex; 
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: column wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 10px;
  margin: 0;
  list-style: none;
  flex-direction: row;
  border-top: 1px solid rgba(255, 255, 255,0.3); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  background: rgb(150, 205, 218);
}

.flex-item {
  background:  rgb(150, 205, 218);
  padding: 35px;
  width: 300px;
  height: 50px;
  margin-top: 1px;
  line-height: 100px;
  color: red;
  font-weight: bold;
  font-size: 16px; 
  text-align: justify;
}
